body{
	background: #f8ecf8;

	text-align: center;}

#location, #arrow {
	text-align: center;
	display: inline-block;
	padding: 0px 30px;
	margin: 10px;
	min-height: 40px;
	font-family: 'Acme', sans-serif;
	font-size: 22px;
	background-color: #66ffb3;;
	border: none;
	box-shadow: 2px 2px 2px rgba(0, 0, 0);
}




#infobubble {
	color: #b3ffda;
	background-color: black;
	font-family: 'Acme', sans-serif;
	margin: 10px;
	border-radius: 20px;
}